<nav>

    <div class="logo">

        Campus Lost & Found

    </div>

    <ul>

        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="/lost-items">Lost Items</a>
        </li>

        <li>
            <a href="/found-items">Found Items</a>
        </li>

        <li>
            <a href="/login">Login</a>
        </li>

        <li>
            <a href="/register">Register</a>
        </li>

    </ul>

</nav>