<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="form-container">

    <div class="form-box">

        <h2>Report Lost Item</h2>

        <form action="/add-lost" method="POST">

            <div class="form-group">
                <label>Item Name</label>
                <input
                    class="form-control"
                    type="text"
                    name="title"
                    placeholder="Ex: Dell Laptop"
                    required>
            </div>

            <div class="form-group">
                <label>Category</label>

                <select class="form-control" name="category">

                    <option>Laptop</option>
                    <option>Mobile</option>
                    <option>Wallet</option>
                    <option>ID Card</option>
                    <option>Bag</option>
                    <option>Keys</option>
                    <option>Watch</option>
                    <option>Other</option>

                </select>

            </div>

            <div class="form-group">
                <label>Description</label>

                <textarea
                    class="form-control"
                    rows="5"
                    name="description"
                    placeholder="Describe your item..."
                    required></textarea>

            </div>

            <div class="form-group">
                <label>Lost Location</label>

                <input
                    class="form-control"
                    type="text"
                    name="location"
                    placeholder="Library Block"
                    required>

            </div>

            <button class="btn-submit">

                Report Lost Item

            </button>

        </form>

    </div>

</div>

<%- include("partials/footer") %>