<%- include("partials/header") %>

<%- include("partials/navbar") %>

<h1 class="page-title">

Found Items

</h1>

<div class="items-container">

Coming Soon...

</div>

<%- include("partials/footer") %>